body {
    margin: 0px;
    margin-top: 0px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    color: aliceblue;
    margin-top: 0%;
    background-color: black;
    
}

header * {
    display: inline;
    font-style:normal;
    
    
   

}

header ul {
    padding: 0;
    font-size: 25px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
   
}

header li {
    margin-left: 80px;
  
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
    
}
#hero .blockquote {
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-decoration:double;
    position: center;
    margin-top: 0%;
}

footer {
    text-align: center;
    padding: 50px;
    
}

#hero h1 {
    font-size: 3em;
    color: aliceblue;
    font-family:fantasy;
    font-style: italic;

}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: rgb(244, 243, 243);

}

div.gallery {
   
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    font-size: 150%;
    font-size: Bold;
    position: center;
    margin-left:15%;
    margin-top: 2%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

#about .section-inner{
    font-size: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-style: Bold;
    margin-top: 1%;
    color: white;
}
#about .par{
    color: white;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

} 




body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 50px;
    font-weight: bolder;
  color: aliceblue;
  font-size: 100%;

 
  }
  
  .container {
    display: flex;
    gap: 100px;
    color: aliceblue;
    font-size: 100%;

   
  }
  
  #posts {
    width: 400px;
    font-weight: bolder;
    color: aliceblue;
    gap: 100px;

    
  }
  
  i {
    cursor: pointer;
    color: aliceblue;
    gap: 100px;

 
  }
  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    gap: 100px;
    font-size: 100%;

  
  }
  
  .options {
    display: flex;
    gap: 50px;
    font-size: 100%;

  }
  
  #msg {
    color: red;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }







/* Add everything below here */

#hero {
    background-image: url('images/pexels-adrien-olichon-2931246.jpg');
}

#about {
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255,255,255,0.75)), url('images/pexels-adrien-olichon-2931246.jpg');
}

#contact {
    background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0.791)), url('images/pexels-adrien-olichon-2931246.jpg');
}
#foot{
    background-color: black;
    color: white;
}
